.new__teacher__main__container {
  width: 100%;
  height: 780px;
  max-height: 780px;
  background-color: #fff;
  margin-top: 30px;
  border-radius: var(--main-headerbox-border-radius);
  box-shadow: var(--main-buildingblock-shadow);
}

.registration_teacher {
  width: 85%;
  margin: 0px auto;
  padding: 35px 0px;
}

.registration_teacher > form {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.registration_teacher > form p {
  margin: 15px 0;
  font-weight: 500;
}

.registration_teacher > form p > span {
  color: var(--secondary-extractedblock-active-color);
}

.registration_teacher > form input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  text-indent: 20px;
  outline: none;
  border: 2px solid;
  border-color: #EE4236 #EE4236;
  border-radius: 15px;
}

.registration_teacher > form > input:focus {
  box-shadow: #EE4236 0px 0px 10px;
}

form > .phone_number {
  width: 100%;
  height: 50px;
  display: flex;
  border-radius: 15px;
  border: 2px solid #EE4236;
  overflow: hidden;
}

form > .phone_number > input {
  border: none;
  outline: none;
  border-radius: 0;
}

form > .phone_number > input::-webkit-inner-spin-button {
  display: none;
}

.registration_teacher button {
  width: 200px;
  height: 50px;
  border-radius: var(--main-buildingblock-border-radius);
  border: none;
  font-size: 22px;
  margin: 20px auto;
  background-color: #EE4236;
  color: #fff;
  
}
