.list__teacher {
    flex: 1;
    height: 800px;
    margin: 15px 0;
    margin-left: -15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  
  .teachers_container {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .teachers_container::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  .teachers_container::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 10px;
    width: 100px;
  }
  
  .teacher_box {
    width: 400px;
    height: 450px;
    margin: 15px;
    display: grid;
    place-items: center;
    transition: 250ms;
    position: relative;
    border-radius: var(--main-buildingblock-border-radius);
    box-shadow: var(--main-buildingblock-shadow);
  }
  
  .teacher_box:hover {
    /* border: 1px solid transparent; */
    transition: 250ms;
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.236) 0px 5px 15px;
  }
  
  .avatar {
    position: absolute;
    top: 25px;
    width: 153px;
    height: 153px;
    border-radius: 50%;
    background: linear-gradient(180deg, #c4c4c4 0%, #4a4949 100%);
    font-size: 80px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .teacher_box h3 {
    position: absolute;
    top: 186px;
    font-size: 20px;
  }
  
  .teacher_info {
    width: 100%;
    height: 93px;
    padding: 0px 20px;
    margin-top: 224px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .teacher_info li {
    display: flex;
    /* color: #313131; */
    padding: 5px 0;
    font-weight: 500;
    align-items: center;
  }
  
  .teacher_info li:first-child {
    font-size: 30px;
    font-weight: 500;
  }
  
  .teacher_info li p {
    padding: 0px 10px;
    font-size: 20px;
    color: var(--secondary-extractedblock-active-color);
  }
  
  .teacher_info li img {
    width: 29px;
    height: 18px;
    padding: 0px 5px;
  }
  
  .teacher_box button {
    width: 197px;
    height: 43px;
    margin: 19px 0;
    border: none;
    color: #313131;
    border-radius: 10px;
    transition: 250ms;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    color: var(--main-buildingblock-backgroundcolor);
    background-color: var(--secondary-extractedblock-active-color);
  }
  
  .teacher_box button:hover {
    transition: 250ms;
    transform: scale(1.03);
  }
  
  .ong {
    width: 323px;
    height: 790px;
    border-radius: var(--main-buildingblock-border-radius);
    background-color: #ff401e;
    position: fixed;
    right: 32px;
  }