.ChartPart__first__chart {
    height: 200px;
    width: 200px;
}
 
.chartpart__main {
    width: 304px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
}

.chartpart__main h1 {
    font-size: 24px;
}

.chartpart__main__last__parts {
    display: flex;
    width: 250px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.chartpart__main__last__parts__first {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.chartpart__main__last__parts__first h3 {
    color: #717579;
    font-size: 14px;
    padding-left: 7px;
}

.chartpart__main__last__parts__first button,
.chartpart__main__last__parts__first__btn2 {
    width: 11px;
    height: 11px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(#EF4136 100%, #B60000 100%);
}

.chartpart__main__last__parts__first__btn2{
    background: #FACAC7 !important;
}
