.new_student {
    width: 100%;
    height: 760px;
    display: flex;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: var(--main-headerbox-shadow);
}



.new_student > form {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.new_student > form > .first_column {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.new_student > form > .second_column {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

.new_student input {
    width: 514px;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 15px;
    text-indent: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    font-family: var(--main-font-poppins);
}

.new_student input:focus {
    border: 2px solid var(--secondary-extractedblock-active-color);
}

.new_student input::-webkit-inner-spin-button {
    display: none;
}

.new_student span {
    font-size: 20px;
    font-family: var(--main-font-poppins);
    margin-top: 20px;
}

.pasport_info {
    width: 530px;
    display: flex;
}

/* .pasport_info input::-webkit-calendar-picker-indicator {
    display: none;
} */

.new_student > form .pasport_info input:first-child {
    width: 264px;
}

.new_student > form .pasport_info input:last-child {
    width: 219px;
}

.new_student .second_column > button {
    height: 50px;
    width: 196px;
    border-radius: 15px;
    background-color: #EF4136;
    color: #ffd;
    border: none;
    font-size: 20px;
    margin-top: 30px;
}