.tabs{
  width: 100%;
  margin: 0px auto;
  height: 100px;
  box-shadow: var(--main-buildingblock-shadow);
  border-radius: var(--main-headerbox-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.route__title{
  padding-bottom: 20px;
}

.teacher_tab{
  padding: 20px 40px ;
  font-size: 30px;
  white-space: nowrap;
  color: var( --secondary-font-color);
  text-decoration: none;
  border-radius: var(--main-headerbox-border-radius);
}

.teacher_activetab{
  border-radius: var(--main-headerbox-border-radius);
  background-color: var(--secondary-extractedblock-active-color);
  padding: 20px 40px ;
  font-size: 30px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}